* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#EEEEEE;
    color:#121526 ;
    
}

html {
    scroll-behavior: smooth;
}

section {
    height: 100vh; /* cada seção ocupa a tela toda */
    width: 100vw;
    text-align: center;
}

section h1 {
    margin-top: 40px;
}

header {
    padding: 20px;
    height: auto;
    display: flex;
    justify-content: center;  
    align-items: center;
    flex-wrap: wrap;
    
}

nav {
    display: flex;
    justify-content: center;  
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0 10px 0;
    position: sticky;
    background-color: #EEEEEE;
    z-index: 999;
    top: 0;
}

header img {
    height: 30px;
    margin: 0;
    padding: 0;
}


nav ul {
    list-style: none; /* remove os marcadores */
    margin: 0;
    display: flex;
    gap: 10px; /* espaço entre os itens */
    font-family: "Orbitron" , sans-serif;
    
    
}

nav ul li a {
    color: #121526; /* cor dos links */
    text-decoration: none;
    font-size: 17px;
}


nav ul li a:hover {
    text-decoration: underline; /* efeito hover */
    color:#9AA8CD ;
}

h1 {
    font-family: "Orbitron" , sans-serif;
    margin: 10px 0 10px 10px;
    font-size: 40px;
    
    
}

#inicio {
    background-image: url(src/new-images/acoindustria.avif);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; /* altura de 100% da tela */
    width: 100vw;
    display: flex;
    justify-content: center;
    color: #EEEEEE;
    border: 1px solid #121526;
    
}



footer {
    height: 15vh;
    border: 1px solid;
    background-color: #121526;
    color: #EEEEEE;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    padding: 10px 0 0 0;
    
}